<!doctype html>
<html>
   <head>
      <title>Person CRUD</title>
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.css">
      <script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.js"></script>
   </head>
   <body>
      <div class="ui inverted vertical masthead center aligned segment">
         <div class="ui text container">
            <h1 class="ui inverted header">
               People CRUD
            </h1>
         </div>
      </div>
   </body>
</html>
